---
import { getDateFormats } from '../../utils/dates'
import { PEOPLE } from '../../docs/people'
import logo from '../../images/logos/logo-sanbase.svg'
import styles from './ArticleInfo.module.scss'

const DEFAULT_NAME = 'Santiment Team'

type Props = {
  title: string
  author?: keyof typeof PEOPLE | string
  date?: string
}

const { title, author, date } = Astro.props

const person =
  author && typeof author === 'string' && PEOPLE[author as keyof typeof PEOPLE]
    ? PEOPLE[author as keyof typeof PEOPLE]
    : undefined

const displayName = author || DEFAULT_NAME

let meta: string | undefined = person?.description

if (date) {
  const { DD, MMM, YYYY } = getDateFormats(new Date(date))
  meta = `${MMM} ${DD}, ${YYYY}`
}

const avatarSrc = person?.imageUrl?.src || logo.src
---

<section class={styles.block}>
  <h1 class={styles.title}>{title}</h1>

  <div class={styles.info}>
    <div class={styles.imageWrapper}>
      <img src={avatarSrc} alt={displayName} />
    </div>

    <div class={styles.meta}>
      <h4 class={styles.author}>{displayName}</h4>
      {meta && <span class={styles.description}>{meta}</span>}
    </div>
  </div>
</section>
