---
import { cn } from 'san-webkit-next/ui/utils'
import Svg from 'san-webkit-next/ui/core/Svg'
import styles from './Breadcrumb.module.scss'

type Props = {
  crumbs: { pathname: string, crumbLabel: string }[]
  crumbLabel: string
  class?: string
}

const { crumbs, crumbLabel, class: className } = Astro.props

const crumbsWithoutLast = crumbs.map(({ pathname, crumbLabel }) => ({
  crumbLabel: crumbLabel.charAt(0).toUpperCase() + crumbLabel.slice(1),
  pathname,
}))

crumbsWithoutLast.pop()
---

<nav class={cn(styles.wrapper, className)}>
  <ul class={styles.list}>
    {crumbsWithoutLast.map(({ pathname, crumbLabel }) => (
      <li class={styles.title}>
        <a href={pathname}>{crumbLabel}</a>
        <Svg type="arrow-right" class={styles.icon} />
      </li>
    ))}
    <li class={styles.last}>{crumbLabel}</li>
  </ul>
</nav>
