---
import Svg from 'san-webkit-next/ui/core/Svg'
import { titleToSlug } from '../../utils/docs'
import { isCategoryActive, isArticleActive } from './utils'
import styles from './Sidebar.module.scss'

type Article =
  | string
  | {
      slug?: string
      title?: string
    }

interface Props {
  active: string[]
  title: string
  articles?: Article[]
}

const { active = [], title, articles = [] } = Astro.props

const isActive = isCategoryActive(active, title)

const isOpenInitial = isActive
---

<li
  class={`${styles.category__wrapper} ${
    isOpenInitial ? styles.category__opened : ''
  }`}
>
  <div class={`${styles.category} ${isActive ? styles.category__active : ''}`}>
    <a href={`/${titleToSlug(title)}/`} class={styles.category__title}>
      {title}
    </a>

    {articles.length > 0 && (
      <Svg type="arrow-right" class={styles.arrow} />
    )}
  </div>

  <ul class={styles.articles}>
    {articles.map((article, idx) => {
      const slugTitle = typeof article === 'string' ? article : article.slug || article.title || ''
      const linkTitle = typeof article === 'string' ? article : article.title || article.slug || ''

      return (
        <li>
          <a
            href={`/${titleToSlug(title)}/${titleToSlug(slugTitle)}/`}
            class={`${styles.article} ${
              isArticleActive(active, title, slugTitle) ? styles.article__active : ''
            }`}
          >
            {linkTitle}
          </a>
        </li>
      )
    })}
  </ul>
</li>
