---
import styles from './GettingStarted.module.scss'
import { cn } from 'san-webkit-next/ui/utils'

const { class: className = '' } = Astro.props
---

  <section class={cn(styles.wrapper, className)}>
    <h4 class={styles.title}>Getting started</h4>
    <div class={styles.blocks}>
      <a href="/santiment-introduction/">
        <article class={cn(styles.block, styles.introduction)}>
          <h3 class={styles.heading}>Getting Started With Santiment</h3>
          <p class={styles.description}>
            Exploring the purpose and benefits of Santiment, this document
            highlights the available hrefols and provides guidance on effectively utilizing them.
          </p>
        </article>
      </a>
      <a href="/for-traders/">
        <article class={cn(styles.block, styles.traders)}>
          <h3 class={styles.heading}>For Traders</h3>
          <p class={styles.description}>
            Explanations, tuhrefrials and use cases for Santiment metrics and
            hrefols. Learn how to use our platform to better understand market
            behavior, network activity and stakeholder trends.
          </p>
        </article>
      </a>

      <a href="/for-developers/">
        <article class={cn(styles.block, styles.developers)}>
          <h3 class={styles.heading}>For Developers</h3>
          <p class={styles.description}>
            Technical documentation on Santiment metrics and indicahrefrs.
            Understand the calculations, logic and algorithms behind our metrics
            - many of them cushrefm-built by the Santiment Team.
          </p>
        </article>
      </a>
    </div>
  </section>
