---
import 'katex/dist/katex.min.css'

import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'
import type { TBreadcrumb } from '../utils/breadcrumbs'
import type { SidebarSection } from '../utils/sidebar'

import { FooterBottom } from 'san-webkit-next/ui/app/Footer'
import { sluggify } from 'san-webkit-next/utils/url'

import Sidebar from '$components/Sidebar/Sidebar.svelte'
import Breadcrumbs from '$components/Breadcrumbs.astro'
import ArticleFooter from '$components/ArticleFooter.svelte'
import TableOfContents from '$components/TableOfContents.svelte'
import H1 from '$components/markdown/headings/H1.astro'
import { PRODUCTS } from '$assets/links'

type Props = {
  doc: CollectionEntry<'docs'>
  breadcrumbs: TBreadcrumb[]
  sidebarData: SidebarSection[]
  headings: MarkdownHeading[]
}

const { doc, breadcrumbs, sidebarData, headings } = Astro.props

const relatedLink = PRODUCTS[doc.id as keyof typeof PRODUCTS]
---

<div
  class="container mx-auto grid min-h-screen w-full grid-cols-[285px_1fr] pl-0 md:grid-cols-1"
>
  <div
    class="sticky top-[71px] block h-[calc(100vh-71px)] border-r border-r-porcelain md:hidden"
  >
    <Sidebar
      client:load
      {sidebarData}
      currentSlug={doc.id}
      transition:persist
    />
  </div>

  <div class="flex min-w-0 flex-col">
    <main
      class="flex w-full max-w-[885px] flex-col px-14 pt-[15px] md:px-4"
      data-pagefind-body
    >
      <TableOfContents client:load {headings} {relatedLink} />

      <Breadcrumbs {breadcrumbs} />

      <div class="wrapper mt-6">
        {
          doc.data.title && (
            <H1 id={sluggify(doc.data.title)}>{doc.data.title}</H1>
          )
        }

        <slot />

        <ArticleFooter lastUpdatedAt={doc.data.date} />
      </div>
    </main>

    <div
      class="mt-14 [&>div]:py-7 [&>div]:pl-[55px] [&>div]:pr-[68px] [&_svg]:fill-rhino"
    >
      <FooterBottom class="" />
    </div>
  </div>
</div>
