---
import 'katex/dist/katex.min.css'

import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'
import type { TBreadcrump } from '../pages/[...slug].astro'

import { FooterBottom } from 'san-webkit-next/ui/app/Footer'
import { sluggify } from 'san-webkit-next/utils/url'

import Sidebar from '$components/Sidebar.svelte'
import Breadcrumbs from '$components/Breadcrumbs.astro'
import ArticleFooter from '$components/ArticleFooter.svelte'
import TableOfContents from '$components/TableOfContents.svelte'
import H1 from '$components/markdown/headings/H1.astro'

type Props = {
  doc: CollectionEntry<'docs'>
  breadcrumbs: TBreadcrump[]
  headings: MarkdownHeading[]
}

const { doc, breadcrumbs, headings } = Astro.props

const PRODUCTS = {
  sanbase: { href: 'https://app.santiment.net/', title: 'Sanbase' },
  sanapi: { href: 'https://api.santiment.net/', title: 'Sanapi' },
  sansheets: { href: 'https://sheets.santiment.net/', title: 'Sansheets' },
  'sql-editor': {
    href: 'https://app.santiment.net/queries',
    title: 'SQL Editor',
  },
  'youtube-videos': {
    href: 'https://www.youtube.com/c/santimentnetwork',
    title: 'Youtube channel',
  },
} as const

const relatedLink = PRODUCTS[doc.id as keyof typeof PRODUCTS]

let active: string[] = []

if (Astro.url) {
  active = Astro.url.pathname.split('/').slice(1)
}
---

<div
  class="container mx-auto grid min-h-screen w-full grid-cols-[285px_1fr] pl-0 md:grid-cols-1"
>
  <div
    class="sticky top-[71px] block h-[calc(100vh-71px)] border-r border-r-porcelain md:hidden"
  >
    <Sidebar client:load {active} transition:persist />
  </div>

  <div class="flex min-w-0 flex-col">
    <main
      class="flex w-full max-w-[885px] flex-col px-14 pt-[15px] md:px-4"
      data-pagefind-body
    >
      <TableOfContents client:load {headings} {relatedLink} />

      <Breadcrumbs {breadcrumbs} />

      <div class="wrapper mt-6">
        {
          doc.data.title && (
            <H1 id={sluggify(doc.data.title)}>{doc.data.title}</H1>
          )
        }

        <slot />

        <ArticleFooter lastUpdatedAt={doc.data.date} />
      </div>
    </main>

    <div
      class="-mr-[100vw] mt-14 border-t border-porcelain pr-[100vw] [&>div]:py-7 [&>div]:pl-[55px] [&>div]:pr-[68px] [&_svg]:fill-rhino"
    >
      <FooterBottom class="border-none !pr-0" />
    </div>
  </div>
</div>
