---
import 'katex/dist/katex.min.css'

import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'
import type { TBreadcrump } from '../pages/[...slug].astro'

import { FooterBottom } from 'san-webkit-next/ui/app/Footer'
import { sluggify } from 'san-webkit-next/utils/url'

import Sidebar from '$components/Sidebar.astro'
import Breadcrumbs from '$components/Breadcrumbs.astro'
import ArticleFooter from '$components/ArticleFooter.svelte'
import TableOfContents from '$components/TableOfContents.svelte'
import H1 from '$components/markdown/headings/H1.astro'

type Props = {
  doc: CollectionEntry<'docs'>
  breadcrumbs: TBreadcrump[]
  headings: MarkdownHeading[]
}

const { doc, breadcrumbs, headings } = Astro.props

const PRODUCTS = {
  sanbase: { href: 'https://app.santiment.net/', title: 'Sanbase' },
  sanapi: { href: 'https://api.santiment.net/', title: 'Sanapi' },
  sansheets: { href: 'https://sheets.santiment.net/', title: 'Sansheets' },
  'sql-editor': {
    href: 'https://app.santiment.net/queries',
    title: 'SQL Editor',
  },
  'youtube-videos': {
    href: 'https://www.youtube.com/c/santimentnetwork',
    title: 'Youtube channel',
  },
} as const

const relatedLink = PRODUCTS[doc.id as keyof typeof PRODUCTS]
---

<div class="flex flex-col">
  <Sidebar transition:persist />

  <div class="flex w-full">
    <div class="md:none flex w-[286px] flex-grow md:flex-grow-0"></div>

    <div class="z-[1] flex w-[885px] flex-grow flex-col md:z-0">
      <main
        class="flex min-w-[86vh] flex-col px-14 pt-[15px] md:px-0"
        data-pagefind-body
        transition:animate="fade"
      >
        <TableOfContents client:load {headings} {relatedLink} />

        <Breadcrumbs {breadcrumbs} />

        <div class="wrapper mt-6">
          {
            doc.data.title && (
              <H1 id={sluggify(doc.data.title)}>{doc.data.title}</H1>
            )
          }

          <slot />

          <ArticleFooter lastUpdatedAt={doc.data.date} />
        </div>
      </main>
      <div
        class="mt-14 [&>div]:py-7 [&>div]:pl-[55px] [&>div]:pr-[68px] [&_svg]:fill-rhino"
      >
        <FooterBottom />
      </div>
    </div>
  </div>
</div>
